h1 {
  position:static;
  display: block;
  width: 500px;
  padding: 16px;
  border: 0px;
  margin: 0px;
  background-color: #fff;
  color: #3f3f42;
  text-align: left;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 32px;
  font-stretch: 100%;
  font-weight: 500;
  height: 72px;
  line-height: 36px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  width: 530px;
}

.line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid rgb(27, 27, 27);
  position: absolute;
}