
body {
  position:static;
  display: block;
  width: 607px;
  height: 12561.6px;
  padding: 20px;
  border-bottom: 0px;
  margin: 0px;
  background-color: #fff;
  color: #3f3f42;
  text-align: left;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 22px;
  text-size-adjust: 100%;
}

header {
  position:static;
  display: block;
  width: 575px;
  height: 236px;
  padding: 0 0 24px 0;
  border-bottom: 1px solid #bababa;
  margin: 0px;
  background-color: #fff;
  color: #3f3f42;
  text-align: left;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 22px;
  text-size-adjust: 100%;
  max-width: 500px;
}

a:hover {
  color: #B80000;
}

.my-h1 {
  position:static;
  display:block;
  width: 575px;
  height: 144px;
  padding: 16px;
  border: 0px;
  margin: 0px;
  background-color: #fff;
  color: #3f3f42;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 44px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 48px;
  text-size-adjust: 100%;
}

.my-div1 {
  position:static;
  display: block;
  width: 607px;
  height: 20px;
  padding: 0 16px 0 16px;
  border: 0px;
  margin: 0px;
  background-color: #fff;
  color: #3f3f42;
  text-align: left;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 48px;
  text-size-adjust: 100%;
  max-width: 1008px;
}

.my-d1 {
  position:static;
  display: block;
  width: 575px;
  height: 20px;
  padding: 0px;
  border: 0px;
  margin: -4px 0 0 0;
  background-color: #fff;
  color: #3f3f42;
  text-align: left;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 48px;
  text-size-adjust: 100%;
  max-width: 1008px;
}

.my-span {
  position:static;
  display: block;
  height: 10px;
  margin: 0px;
  padding: 0px;
  width: auto;
  font-family: ReithSans, Helvetica, Arial;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-size-adjust: 100%;
  white-space: nowrap;
  color: rgb(105, 105, 105);
  border-bottom-color: rgb(105, 105, 105);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(105, 105, 105);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(105, 105, 105);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(105, 105, 105);
  border-top-style: none;
  border-top-width: 0px;
}

.my-div2 {
  position:static;
  display:block;
  width: 575px;
  height: 44px;
  padding: 0px;
  border: 0px;
  margin: 16px 0 0 0;
  background-color: #fff;
  color: #3f3f42;
  text-align: left;
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 22px;
  text-size-adjust: 100%;
  max-width: 499px;
}

.my-share-icon {
  position:static;
  display:block;
  height: 44px;
  width: 44px;
  padding: 0 11px 0 11px;
  border:1px solid #FFFFFF;
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  word-spacing: 0px;
  background-color:  #FFFFFF;
  background-position: 0% 0%;
  color:  #FFFFFF;
  overflow: hidden;
  cursor: pointer;
  outline: rgb(255, 0, 0);
}
.line {
  width: 530px;
  height: 47px;
  border-bottom: 1px solid #3f3f42;
  position: absolute;
  max-width: 500px;
}

.my-button {
  position:relative;
  display:flex;
  left: 60px;
  bottom: 44px;
  flex-wrap: wrap;
  align-items: center;
  height: 42px;
  margin: 0px;
  min-height: 42px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0px;
  width: 147.906px;
  background-color: #fff;
  border-style: solid;
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-decoration-color: rgb(63, 63, 66);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  vertical-align: baseline;
  word-break: break-word;
  color: rgb(63, 63, 66);
  border-bottom-color: rgb(219, 127, 127);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(219, 127, 127);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(219, 127, 127);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(219, 127, 127);
  border-top-style: solid;
  border-top-width: 1px;
  cursor: pointer;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  -webkit-box-align: center;
}

.my-first-image {
  position: static;
  display: flex;
  width: 800px;
  height: 450px;
  border: 0px;
  padding: 16px;
  margin: 20px;
}

.my-paragraphs {
  position: static;
  display: block;
  width: auto;
  height: auto;
  border: 0px;
  padding: 20px;
  margin: 0px;
  text-align: left;
}

.my-h2s {
  position: static;
  display: block;
  width: auto;
  height: auto;
  border: 0px;
  padding: 20px;
  margin: 0px;
  text-align: left;
}

.my-lists {
  position: static;
  display: block;
  width: 556px;
  height: 240px;
  border: 0px;
  padding: 20px;
  margin: 10px;
  text-align: left;
  line-height: 20px;
}

.my-footer-p {
  position: static;
  display: block;
  width: auto;
  height: auto;
  border: 0px;
  padding: 20px;
  margin: 0px;
  text-align: left;
  font-style: italic;
}
.my-list2 {
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  text-decoration: none solid rgb(63, 63, 66);
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(63, 63, 66);
  height: 104px;
  width: 606px;
  border: 0px none rgb(63, 63, 66);
  border-top: 0px none rgb(63, 63, 66);
  border-right: 0px none rgb(63, 63, 66);
  border-bottom: 0px none rgb(63, 63, 66);
  border-left: 0px none rgb(63, 63, 66);
  margin: -4px;
  padding: 0px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: flex;
  clear: none;
  z-index: auto;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;
  overflow: visible;
  cursor: auto;
  visibility: visible;
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(255, 0, 0);
  outline-offset: 0px;
  box-sizing: content-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.my-listitem1 {
	font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 18px;
	text-decoration: none solid rgb(255, 255, 255);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;
	background-attachment: scroll;
	background-color: #FFFFFF;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(255, 255, 255);
	height: 42px;
	width: 244.25px;
	border: 1px solid rgb(219, 127, 127);
	border-top: 1px solid rgb(219, 127, 127);
	border-right: 1px solid rgb(219, 127, 127);
	border-bottom: 1px solid rgb(219, 127, 127);
	border-left: 1px solid rgb(219, 127, 127);
	margin: 0px;
	padding: 0px 16px;
	max-height: none;
	min-height: 42px;
	max-width: none;
	min-width: 0px;
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;
	list-style-image: none;
	list-style-type: none;
	list-style-position: outside;
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;
	overflow: visible;
	cursor: pointer;
	visibility: visible;
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0);
	outline-offset: 0px;
	box-sizing: content-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.Buttons {
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 18px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: left;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: flex;
  clear: none;
  z-index: auto;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;
  overflow: visible;
  cursor: pointer;
  visibility: visible;
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(255, 0, 0);
  outline-offset: 0px;
  box-sizing: content-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main-footer {
  font-family: ReithSans, Helvetica, Arial, freesans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 42px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  text-indent: 0px;
  text-transform: none;
  white-space: normal;
  word-spacing: 0px;
  background-attachment: scroll;
  background-color: #B80000;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(255, 255, 255);
  height: 44px;
  width: 187.391px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  margin: 0px;
  padding: 0px 11px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: block;
  clear: none;
  z-index: auto;
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;
  overflow: visible;
  cursor: pointer;
  visibility: visible;
  transform: none;
  transition: all 0s ease 0s;
  outline: rgb(255, 0, 0);
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}